#dropdown {
    display: none;
  }
  
  #dropdownDefaultButton:focus + #dropdown,
  #dropdown:hover {

    display: block;    
  }
  
  #dropdownDefaultButton {
    position: relative;
    margin-right: 5%;
    
  }
  
  #dropdown {
    position: absolute;
    top: 100%;
  }